body {
    background-color: #EEDBFC;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Conteneur principal qui prend toute la hauteur de la page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Permet de positionner les éléments en position absolue */
}

/* Bouton info en haut à droite */
.image-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Taille de l'image du bouton info */
.image-button img {
    width: 30px; /* Ajustez la taille si besoin */
    height: auto;
}

/* Logo centré */
.logo {
    width: 25%;
    height: auto;
    margin-bottom: 50px;
}

/* Conteneur du bouton de début de jeu */
.startGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bouton "Commencer une partie" */
.center-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.center-button:hover {
    background-color: #f0f0f0;
}

/* Images de lotus au-dessus et en dessous du bouton */
.image {
    width: 7%;
    height: auto;
    margin: 0px 0;
}
